table{
/*      width: 30%;
    max-width: 500px;
    min-width: 400px;*/
    border-width: medium;
    background-color: white;
    margin: auto;
}



.welcome{
    /*overflow: hidden;*/
    black-space: nowrap;
    /*font-size: 4vw;*/
    /*width:100%;*/
    /*font-size:0.4em;*/
}


.points{
    margin-top: 10px;
}
.infoBox{
    margin-top: 14px;
    margin-bottom: 10px;
    padding: 6px;
}
.clickable-cell{
  cursor: pointer;
}

.statsAlign{
    vertical-align: 4px;
}

.level{
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}
.score{
    margin-top: 0px;
    text-align: center;
}

.progress{
    margin-top: 14px;
    margin-bottom: 10px;
    height: 34px;
    padding: 4px;
}
.progress.blue{
    background-color: #9933cc;
}
.progress.green{
    background-color: #77b300;
}
.progress.orange{
    background-color: #a47e3c;
}
.progress.red{
    background-color: #cc0000;
}

.progress-bar.progress-bar-striped.active{
  animation-duration: 0.5s;
  width: 100%;
}

.selected {
    background-color:white;
    color:black;
    font-weight:bold;
}
.panel-heading.completed {
    background-color: #77b300;
    color:black;
    font-weight:bold;
}
.panel-heading.current.completed {
    background-color: #77b300;
    color:black;
    font-weight:bold;
}
.panel-heading.current {
    background-color: #2a9fd6;
    color:black;
}

html,body{outline:none;margin:0;padding:0;text-align:justify;background:#000;color:#000;line-height:1.5;font-weight:300;background-color:white;height:100%;-webkit-text-size-adjust:100%;font-family:"Courier New"}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,.ascii-logo,ul,ol,dl,figure{margin-bottom:15px;font-family:"Courier New"}
ol{margin-right:22px;padding-left:22px}a{text-decoration:none;color:inherit}
pre,.ascii-logo{padding:0;margin:0;background:transparent;word-wrap:break-word;outline:0;border:0;color:black}

.ascii-logo{
    background:transparent;
    text-align:center;
    border:0;
    margin:0;
    margin:16px;
    padding-bottom:16px
    font-size: 200%;
}
.pwnlist{list-style-type:none;padding:0}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; 
    zoom:1; 
}

.nav-tabs > li > a {
    margin: 0px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px 0px 0 0 ;
    padding: 4px;
    padding-top: 0px;
    padding-right: 7px;
    padding-bottom: 0px;
    padding-left: 7px;
}

.nav {

    max-height: 35px;
}
.nav-tabs, .nav-pills {
    text-align:center;
}

.page-header {
    padding-bottom: 0;
    margin: 40px 0 20px;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-bottom: 1px solid #282828;
}

/*some of this can probs go but cbf
/*.modal {
    display: table;
    background: black;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: white;
    opacity: 0.7;
}