<!doctype html>
<html>
<head>
    <title>War Room</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='css/simplex.css' rel="stylesheet">
    <link href='css/file.css' rel="stylesheet">
    <!-- <link href="css/lumen.css" rel="stylesheet"> -->

    <script src="js/angular.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-ui-bootstrap.js"></script>

    <!-- // <script src="/node_modules/angular-recaptcha/release/angular-recaptcha.js"></script> -->

    <!-- // <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.6.min.js"></script> -->
    <!-- // <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->

    <!-- // <script src='https://www.google.com/recaptcha/api.js'></script> -->
    <!-- // <script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async></script> -->



    <script>
    var app = angular.module('ProductApp', ['ngResource', 'ngRoute', 'ngCookies','ngAnimate', 'ui.bootstrap']);
    </script>
    <script src="js/ProductController.js"></script>

</head>

<body ng-app="ProductApp"  ng-controller="ProductController">

    <!-- If the person is logged in show just the text box and points -->
    <div class="page-header" ng-if="authenticated">
        <div class="row">

            <div class="col-sm-2 col-sm-offset-1">
                <h3 class="col-sm-4 level"><small class="statsAlign">Rank:</small></h3>
                <h3 class="col-sm-4 level col-sm-offset-2">{{ rank }}</h3>
                <h3 class="col-sm-4 score"><small class="statsAlign">Score:</small></h3>
                <h3 class="col-sm-4 score col-sm-offset-2">{{ score }}</h3>
            </div>

            <div class="col-sm-6">

                <!-- Hello and welcome to the source code, I expected to see a few of you here I'm probably going to put a challenge in the site at some point too, maybe a password here -->

                <!-- Big Flag box -->
                <form ng-submit='submitFlag()' >
                    <input type="text" placeholder="COMP3441{EnT3r_y0uR_f1aG}" ng-model="$parent.tryPass" class="form-control">
                    <!-- <div class="g-recaptcha" data-sitekey="6LfBGBgTAAAAAOenRNfeH4Gl_UO7-pHwYc2em9aH"></div> -->
                </form>

                <!-- Loading Blue -->
                <div class="progress progress-bar-info" ng-if="pointsStatus == statusCodes['loading blue']">
                    <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
                    </div>
                </div>

                <!-- Loading Green -->
                <div class="progress green" ng-if="pointsStatus == statusCodes['loading green']">
                    <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
                    </div>
                </div>

                <!-- Loading Orange -->
                <div class="progress progress-bar-danger" ng-if="pointsStatus == statusCodes['loading orange']">
                    <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
                    </div>
                </div>

                <!-- Loading Red -->
                <div class="progress red" ng-if="pointsStatus == statusCodes['loading red']">
                    <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
                    </div>
                </div>

                <!-- Info box -->
                <div class="alert alert-success infoBox" role="alert" ng-if="pointsStatus == statusCodes['start hacking']">
                    Start Hacking!
                </div>

                <!-- Already owned -->
                <div class="alert alert-success infoBox" role="alert" ng-if="pointsStatus == statusCodes['already owned']">
                    You already got that flag, you gained {{ potentialPoints }} points
                </div>

                <!-- punished for only doing a select few types -->
                <div class="alert alert-success infoBox" role="alert" ng-if="pointsStatus == statusCodes['correct over']">
                    Haha too late, you got it right but you're too late to cash in. Congrat's anyway I suppose
                </div>

                <!-- standard success -->
                <div class="alert alert-success infoBox" role="alert" ng-if="pointsStatus == statusCodes['correct']">
                    Congratulations! That flag is worth {{ pointsEarned }} points
                </div>

                <!-- Wrong Flag box -->
                <div class="alert alert-warning infoBox" role="alert" ng-if="pointsStatus == statusCodes['incorrect']">
                    I don't recgnise that flag <br><small>(if this is a mistake pls email j@jordanbrown.xyz (Jordan Brown))</small>
                </div>


                <!-- Wrong login details (wait, why is this here?)-->
                <div class="alert alert-danger infoBox" role="alert" ng-if="pointsStatus == statusCodes['wrong login']">
                    Wrong Login Details. <br><small> 1 CSRF Token added as punishment</small>
                </div>


            </div>

            <div class="col-sm-3 col-sm-offset-0">

                <h2 class="col-sm-12 level welcome">Welcome {{ username }}</h4>
            </div>


        </div>
    </div>


    <!-- if the user is yet to log in then let them enter passwords in to check but get no points -->
    <div class="page-header" ng-if="!authenticated">
        <p style="text-align: center">You are not authenticated, go away. This could be an error, but I hope not</p>
    </div>


    <ul class="nav nav-tabs">

        <li><a href="#all" data-toggle="tab" aria-expanded="true">All Time</a></li>

        <li ng-repeat="x in weeks" ng-class="{'active':x == currentWeek, 'disabled' : x > currentWeek}">
            <a href="#week{{x}}" data-toggle="tab" aria-expanded="false" ng-if="x < currentWeek">
                <small>Week {{ x }}</small>
            </a>
            <a ng-if="x > currentWeek">
                <small>Week {{ x }}</small>
            </a>
            <a href="#week{{x}}" data-toggle="tab" aria-expanded="true" ng-if="x == currentWeek">
               <b> Week {{ x }}</b>
            </a>
        </li>
    </ul>





<pre class="ascii-logo"><strong><b>

________     _____    _____ ____ 
\_____  \   /  |  |  /  |  /_   |
  _(__  &lt;  /   |  |_/   |  ||   |
 /       \/    ^   /    ^   /   |
/______  /\____   |\____   ||___|
       \/      |__|     |__|     


</b></strong></pre>



    <div id="myTabContent" class="tab-content">

        <!-- The all time leaderboard -->
        <div class="tab-pane fade" id="all">
            <div class="col-sm-10 col-sm-offset-1">
                <table class="table">
                    <tr>Leaderboard</tr>

                    <!-- Highlight the row that shows the user -->
                    <tr ng-repeat="user in leaderboard['all']"
                    ng-class="{'selected':user.username == username}">
                        <td style="width:1%">{{ $index + 1 }}.</td>
                        <td style="text-align:left;">{{ user.username }}</td>
                        <td style="width:50%">{{ user.level }}</td>
                        <td>{{ user.score }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" ng-repeat="x in weeks" id="week{{x}}" ng-class="{'active in':x == currentWeek}">
            <div class="row">

                <!-- The leaderboard -->
                <div class="col-sm-6 col-sm-offset-1">
                    <table class="table">
                        <tr>Leaderboard</tr>

                        <!-- Highlight the row that shows the user -->
                        <tr ng-repeat="user in leaderboard['week' + x]"
                        ng-class="{'selected':user.username == username}"> 
                            <td style="width:1%">{{ $index + 1 }}.</td>
                            <td style="text-align:left;">{{ user.username }}</td>
                            <td style="width:50%">{{ user.level }}</td>
                            <td>{{ user.score }}</td>
                        </tr>
                    </table>
                </div>

                <!-- ThE AcCordion of chAlLengEs -->
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default"  ng-repeat="game in challenges['week' + x]" >
                            <div class="panel-heading" role="tab" ng-class="{'completed':game.solved, 'current':x == currentWeek}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ game.name.S }}" aria-expanded="false" aria-controls="collapse{{ game.name.S }}" ng-click="$event.preventDefault();" >
                                        {{ game.name.S }}  ({{ game.points.N }})
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ game.name.S }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body" style="text-align: left">
                                    <strong>Type:</strong>{{ game.category.S }} <br ng-if="game.description">
                                    <strong>Description:</strong> {{ game.description.S }} <br ng-if="game.format">
                                    <strong>Format:</strong> {{ game.format.S }} <br ng-if="game.link">
                                    <a href="{{ game.link.S }}" ng-if="game.link">--&gt;Download&lt;--</a> <br ng-if="game.connection">
                                    <div ng-if="game.connection">
                                        <strong>Connection:</strong> nc 54.206.72.41 {{ game.connection.N }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





    

</body>
</html>


